@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  background-color: white;
}

h1 {
  color: #13a3a8;
  border: 1px solid black;
  border-radius: 30px;
  text-align: center;
  background: lightgray;
}

p {
  color: black;
  text-align: justify;
  text-indent: 60px;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  font-weight: bold;
}

.bg-image {
  height: 300px;
  background: gray url("../img/background.jpg") no-repeat center;
  background-size: cover;
}

.botao {
  margin-left: 33%;
  background-color: green;
  color: white;
  padding: 30px 50px;
  text-decoration: none;
  border-radius: 5px;
}

.botao:hover {
  background-color: blue;
}

.teste {
  max-width: 800px;
  height: 150px;
  background: cyan;
}

a.botao1 {
  background-color: darkgreen;
  color: white;
  padding: 10px;
  text-decoration: none;
  border: 4px solid greenyellow;
  border-radius: 5px;
}

a.botao1:hover {
  background-color: rgb(6, 211, 6);
  padding: 12px;
  border: 4px solid rgb(80, 129, 6);
}

a.botao2 {
  text-decoration: none;
  padding: 10px;
  border: 5px double blue;
  color: blue;
}

a.botao2:hover {
  text-decoration: underline;
  padding: 8px;
  background-color: blue;
  color: white;
}

a.botao3 {
  color: black;
  text-decoration: none;
}

a.botao3:hover {
  border-bottom: 5px solid red;
}

a.botao4 {
  text-decoration: none;
  color: blue;
  font-size: 18px;
}

a.botao4:hover {
  font-size: 22px;
  font-weight: bold;
}

a.botao5 {
  cursor: help;
}
