.container {
  border: 1px solid black;
  overflow: auto;
}

.container img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

ul {
  background-color: black;
  padding: 20px;
}

li {
  display: inline-block;
}

li a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

li a:hover {
  background-color: #ccc;
  color: black;
}

.login {
  float: right;
}

.login a:hover {
  background-color: orangered;
  color: white;
}
