@mixin flexCenter($direction, $bg) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: $direction;
  background: $bg;
}

header {
  @include flexCenter(row, blue);
  background-color: $primary;
  color: white;
  button {
    background: $secondary;
    &:hover {
      background-color: yellow;
    }
    &::after {
      content: "Testeeee";
    }
  }
  p {
    color: black;
  }
  h1 {
    color: purple;
  }
}
